*{
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a{
  text-decoration: none;
}
.header{
  padding: 35px 0;
  background-color: #000000;
  
  

}



.container{
  width: 1320px;
  margin: 0 auto;

}
.logomenu ul li{
  display: inline-block;
}
.logomenu{
  text-align: center;
}
.logomenu ul li a {
  padding: 0 15px;
  color: whitesmoke;
  font-size: 16.2px;
  line-height: 22.5px;
  transition: .4s;
  


}
.logomenu ul li a :hover{
  color: rgba(255, 136, 0, 0.923);


}
.banner-part{
  
  background: url(../images/slider-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  
}
.overly{
  background: rgba(0, 0, 0, 0.7);padding: 400px 0;
}
/* .logomenu img{
  padding-left: 10px;
} */
